/*
 * 该css样式实现了遮罩层和载入动画
 */

html,body{ 

}

.mask{
	top: 0;
	background-color: gray;
	opacity: 0.1;
	position: fixed;
	width: 100%;
	height: 100%;
}

.loading{
	top: 30%;
	margin-left:17%;
	width: 40%;
	height: 50px;	
	padding-left: 25%;
	position: fixed;
	z-index: 889;
}

.loading .one,.two,.three,.four,.five{
	float: left;
	margin-left: 1%;
	width: 20px;
	height: 20px;
	border-radius: 40px;
	background-color: red;
}

.loading .one{
	animation: smalltobig 1s infinite 0s;
}
.loading .two{
	animation: smalltobig 1s infinite 0.1s;
}
.loading .three{
	animation: smalltobig 1s infinite 0.2s;
}
.loading .four{
	animation: smalltobig 1s infinite 0.3s;
}
.loading .five{
	animation: smalltobig 1s infinite 0.4s;
}



@keyframes smalltobig{
	0{
		transform: scale(0,0);
		opacity: 0;
	}
	25%{
		opacity: 0.5;
	}
	50%{
		transform: scale(1,1);
		opacity: 1;
	}
	75%{
		opacity: 0.5;
	}	
	100%{
		transform: scale(0,0);
		opacity: 0;
	}
}

