.manageBookAdminBar{
	margin-top: -20%;
	margin-left: 15%;
	width: 10%;
	height: 80%;
}

.manageBookAdminBar a{
	text-decoration: none;
	font-size: 110%;
}


.bookadminList{
	border: 1px solid #AAAAAA;
	margin-left: 35%;
	width: 40%;
	height: 40%;
	font-size: 130%;
	text-align: center;
	border-radius: 40px;
	background-color: #FFFFFF ;
	color: #000000;
	cursor: pointer;
}
.bookadminList:HOVER{
	background-color: #0066FF;
	color: #FFFFFF;
	border: 1px solid #0066FF;
}

.bookadminList:ACTIVE{
	background-color: #0044BB;
}



.bookadminAdd{
	margin-top: 60%;
	border: 1px solid #AAAAAA;
	margin-left: 35%;
	width: 40%;
	height: 40%;
	font-size: 130%;
	text-align: center;
	border-radius: 40px;
	cursor: pointer;
	background-color: #FFFFFF ;
	color: #000000;
}

.bookadminAdd:HOVER{
	background-color: #0066FF;
	color: #FFFFFF;
	border: 1px solid #0066FF;
}

.bookadminAdd:ACTIVE{
	background-color: #0044BB;
}