.bookAdminListDiv .form-group{
	margin-top: 5%;
}

.bookAdminListDiv .form-group span{
	float: left;
	width: 30%;
	text-align: center;
	font-size: 150%;
}

.bookAdminListDiv .form-group .form-control{
	margin-left: 5%;
	width: 50%;
}

.bookAdminListDiv .bookadminAddBtn{
	margin-top: 10%;
	width: 100%;
	height: 20%;
}

.bookAdminListDiv .bookadminAddBtn #bookadminAddSubmit{
	margin-left: 45%;
	width: 10%;
	height: 85%;
	color: #FFFFFF;
	border-radius: 40px;
	background-color: #2F4F4F;
	border: 1px solid #2F4F4F;
	font-size: 150%;
}

.bookAdminListDiv .bookadminAddBtn #bookadminAddSubmit:HOVER {
	margin-top: 1%;
	margin-left: 46%;
	width: 8%;
	height: 70%;
	font-size: 120%;
}