.userList .form-group span{
	float: left;
	width: 30%;
	text-align: center;
	font-size: 150%;
}

.userList .form-group input{
	margin-left: 5%;
	width: 50%;
}

.userList .form-group select{
	margin-left: 5%;
	width: 50%;
}

.titleFont{
	margin-top: 2%;
	color: red;
	font-size: 150%;
}

.userList .userAddBtn{
	margin-top: 5%;
	width: 100%;
	height: 20%;
}

#addUserBtnSubmit{
	margin-left: 40%;
	width: 20%;
	height: 60%;
	color: white;
	text-align: center;
	font-size: 150%;
	background-color: #FA8072;
	border: 1px solid #FA8072;
	border-radius: 20px;
}

#addUserBtnSubmit:HOVER {
	background-color: #CD5C5C;
}

#BatchAddUserBtnSubmit{
	margin-left: 45%;
	width: 10%;
	height: 108%;
	color: black;
	text-align: center;
	font-size: 150%;
	background-color: #99FF99;
	border: 1px solid #99FF99;
	border-radius: 60px;
}

#BatchAddUserBtnSubmit:HOVER {
	background-color: #66FF66;
}