.searchBar{
	height: 5%;
}

.inputUserId{
	float: left;
	margin-left: 25%;
	width: 40%;
}

#search{
	float: right;
	width: 8%;
	margin-right: 25%;
}

.orderSuccessList{
	margin-top: 4%;
}

tr th,td{
	text-align: center;
}